---
import TechTag from "../components/TechTag.astro";

const TAGS = {
  DJANGO: {
    text: "Django",
    icon: "",
    svg: "django.svg",
  },
  BOOTSTRAP: {
    text: "Bootstrap",
    icon: "fa-brands fa-bootstrap",
    svg: "",
  },
  PYTHON: {
    text: "Python",
    icon: "fa-brands fa-python",
    svg: "",
  },
};

const PROJECTS = [
  {
    title: "Paddle Club Website",
    description:
      "A fully responsive website for a fictional paddle club built using Django and Bootstrap. It includes a complete authentication system, a court reservation feature, and a minimalist admin panel.",
    image: "paddle_club.webp",
    github: "https://github.com",
    deployment: "https://github.com",
    tags: [TAGS.DJANGO, TAGS.BOOTSTRAP],
  },
  {
    title: "MST Animator",
    description:
      "A video animation tool built with Python using Manim Community. It allows users to load a graph from the command line and generate a visual representation of the Krukal's and Prim's algorithms.",
    image: "mst_animator.webp",
    github: "https://github.com",
    deployment: null,
    tags: [TAGS.PYTHON],
  },
];
---

<div
  id="projects"
  class="w-10/12 lg:w-[700px] md:w-[650px] mx-auto pt-48 text-white"
>
  <div class="flex items-center">
    <h3
      class="sm:text-4xl text-3xl font-bold pb-11 text-blue-900 dark:text-white"
    >
      <span
        class="sm:text-4xl text-3xl text-indigo-600 dark:text-cyan-300 drop-shadow-[0_2px_2px_rgba(79,70,229,0.3)] dark:drop-shadow-[0_2px_2px_rgba(103,232,249,0.3)] font-inconsolata-var"
        >02.</span
      >
      <span>Projects</span>
    </h3>
  </div>
  <article>
    {
      PROJECTS.map(
        ({ title, description, image, github, deployment, tags }) => (
          <div class="pb-10">
            <h4 class="text-2xl text-blue-900 dark:text-white font-bold pb-4">
              <i class="fa-solid fa-code pr-2 text-indigo-600 dark:text-cyan-300 drop-shadow-[0_2px_2px_rgba(79,70,229,0.3)] dark:drop-shadow-[0_2px_2px_rgba(103,232,249,0.3)]" />
              {title}
            </h4>
            <div class="pb-5 tech-tags flex flex-wrap gap-5">
              {tags.map(({ text, svg, icon }) => (
                <TechTag text={text} svg={svg} icon={icon} />
              ))}
            </div>
            <div>
              <div class="img-container overflow-hidden rounded-2xl">
                <img
                  class="rounded-2xl hover:scale-[1.08] transition ease duration-500"
                  src={image}
                />
              </div>
              <p class="py-4 text-blue-900 dark:text-white">{description}</p>
              <div>
                <button class="gradient-button bg-gradient-to-r from-cyan-300 to-indigo-400 text-gray-800 font-bold py-3 px-3 mr-2 rounded inline-flex items-center ">
                  <i class="fa-brands fa-github pr-2 text-blue-900 dark:text-black" />
                  <a
                    class=" text-blue-900 dark:text-black"
                    href={github}
                    target="_blank"
                  >
                    Repository
                  </a>
                </button>
                {deployment ? (
                  <button class="gradient-button bg-gradient-to-r from-cyan-300 to-indigo-400 text-gray-800 font-bold py-3 px-3 rounded inline-flex items-center">
                    <i class="fa-solid fa-link pr-2 text-blue-900 dark:text-black" />
                    <a
                      class=" text-blue-900 dark:text-black"
                      href={deployment}
                      target="_blank"
                    >
                      Deployment
                    </a>
                  </button>
                ) : null}
              </div>
            </div>
          </div>
        )
      )
    }
  </article>
</div>
